<div class="p-4">
  <h1 *ngIf="requestId">{{ title + ' - PR ID: ' + requestId }}</h1>
    <table>
        <tr>
          <td>Product:</td>
          <td>
            <select [(ngModel)]="newLineitem.product" class="rounded">
              <option *ngFor="let p of products" [ngValue]="p">
                {{ p.name + ' | '+ p.vendor.name }}
              </option>
            </select>
          </td>
        </tr>
      <tr>
        <td>Quantity:</td>
        <td>
          <input [(ngModel)]="newLineitem.quantity" type="number" />
        </td>
      </tr>
      
      
    </table>
    <button (click)="addLineitem()">Add Lineitem</button>
  </div>
