<div class="p-4">
    <h1>{{ title }}</h1>
    <table>
        <tr>
          <td>Vendor:</td>
          <td>
            <select [(ngModel)]="newProduct.vendor" class="rounded">
              <option *ngFor="let v of vendors" [ngValue]="v">
                {{ v.name }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
              <input [(ngModel)]="newProduct.name" type="text" />
            </td>
          </tr>
      <tr>
        <td>Phonenumber:</td>
        <td>
          <input [(ngModel)]="newProduct.phoneNumber" type="text" />
        </td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>
          <input [(ngModel)]="newProduct.price" class="text">
        </td>
      </tr>
      <tr>
        <td>Unit:</td>
        <td>
          <input [(ngModel)]="newProduct.unit" type="number" />
        </td>
      </tr>
      <tr>
        <td>Photopath:</td>
        <td>
          <input [(ngModel)]="newProduct.photoPath" type="text" />
        </td>
      </tr>
      
    </table>
    <button (click)="addProduct()">Add Product</button>
  </div>
